.puzzleBtn{
  padding: 10px;
  border: none;
  border-radius: 8px;
  text-align: center;
  font-size: 17px;
  background-color: $secondaryColor;
  color: white;
  cursor: pointer;
  width: 31%;
  height: 55%;
  float: left;
  margin: 0 1%;
}

.puzzleBtn:hover{
  background-color: $secondaryHover;
}

.checkBoxContainer{
  background-color: $secondaryColor;
}

.btnIcon{
  height: 70%;
  width: 40%;
  margin: 0 auto;
}

.activeEraser {
  background-color: $mainColor;
  border: 1px solid white;
}

.activeHelper {
  background-color: $mainColor;
  border: 1px solid white;
}