$mainColor: rgb(0,50,50);
$secondaryColor: rgb(0,35,50);
$secondaryHover: rgb(6,58,79);
$wrongPick: rgb(234,68,68);
$timerColor: rgb(0,0,0);
$optionsFontColor: rgb(0,0,0);
$LiBgColor: rgb(223,225,228,0.8);
$LiFontColor: rgb(0,0,0,0.7);
$HLCurrentOptionFont: rgb(255,255,255);
$emptySquareBg: rgb(255,255,255);
$stroboColor: rgb(0,0,0);
$checkMark: rgb(255,255,255);
$emptySquareHover: rgb(155,176,184);
$fontColor: rgb(220,220,220);