#app {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 20% 30% 20% 15%;
  grid-template-rows: 7% 10% 50% 10% 20%;
  font-family: 'Lato', sans-serif;
  background-color: rgb(232,232,232);
}

#levelAndTimer{
  grid-column: 3/4;
  grid-row: 1/2;
  margin: 5% 5%;
}

#menuSection {
  grid-column: 2/3;
  grid-row: 2/5;
  height: 80%;
}

#puzzleSection {
  grid-column: 3/4;
  grid-row: 2/5;
}

#optionsSection{
  grid-column:4/5;
  grid-row: 2/5;
}

#validationMsg{
  grid-column: 3/4;
  grid-row: 4/5;
  margin: 0 5% 6% 5%;
  background-color: transparent;
  text-align: center;
  border-radius: 8px;
  color: $fontColor;
  font-weight: bold;
  padding-top: 2%;
}

#infoSideBar{
  grid-column: 5/6;
  grid-row: 1/6;
}

#infoSection{
  grid-column: 5/6;
  grid-row: 1/2;
  height: 30px;
  width: 30px;
  display: flex;
  justify-self: flex-end;
  margin: 2%;
  background-color: transparent;
  border: none;
}

#infoSection:hover{
  cursor: pointer;
  height: 35px;
  width: 35px;
}

@media screen and (max-width: 768px){
  #app {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 60% 40%;
    font-family: 'Lato', sans-serif;
    background-color: rgb(232,232,232);
  }

  #levelAndTimer{
    grid-column: 1/3;
    grid-row: 1/2;
  }


  #menuSection {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  #puzzleSection {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #optionsSection{
    grid-column: 2/3;
    grid-row: 2/3;
  }

  #validationMsg{
    grid-column: 1/3;
    grid-row: 3/4;
    margin: 0 5% 6% 5%;
    background-color: transparent;
    text-align: center;
    border-radius: 8px;
    color: $fontColor;
    font-weight: bold;
    padding-top: 2%;
    height: 70px;
  }

  #infoSideBar{
    display:none;
  }

  #infoSection{
    display: none;
  }

}

@media screen and (max-width: 500px){
  #app {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 50% 40% 40%;
    font-family: 'Lato', sans-serif;
    background-color: rgb(232,232,232);
  }

  #levelAndTimer{
    grid-column: 1/3;
    grid-row: 1/2;
  }

  #menuSection {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  #puzzleSection {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  #optionsSection{
    grid-column: 1/3;
    grid-row: 3/4;
  }

  #validationMsg{
    grid-column: 1/3;
    grid-row: 3/4;
    margin: 0 5% 6% 5%;
    background-color: transparent;
    text-align: center;
    border-radius: 8px;
    color: $fontColor;
    font-weight: bold;
    padding-top: 2%;
    height: 70px;
  }
}