#dropBtn {
  background-color: $secondaryColor;
  color: $fontColor;
  padding: 6px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  float: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content div:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover #dropBtn {background-color: $secondaryHover;}

#timer{
  color: $timerColor;
  font-size: 30px;
  height: 10%;
  float: right;
}
