#scoreSelect{
  width: 100%;
  background-color: $emptySquareHover;
  height: 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.scoreOption{
  float: left;
  border: none;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  height: 40px;
  background-color: $emptySquareHover;
  outline: none;
  padding: 2.5%;
  color: $secondaryColor;
}

.scoreOption:hover{
  background-color: $secondaryHover;
  color: white;
}

.solverOption{
  background-color: $mainColor;
  color: white;
}

.selectedScoreOption{
  background-color: $secondaryColor;
  color: $fontColor;
}

#kidsScores{
  border-top-left-radius: 8px;
}



#scoreBoardSection{
  height: 93%;
  background-color: $secondaryColor;
  display: block;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  line-height: 1.5;
  color: $fontColor;
}

#highScores{
  margin: 0 auto;
  width: 100%;
}

th{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  color: $fontColor;
}

tr{
  font-size: 20px;
  text-align: left;
}

.timeTd{
  text-align: center;
}

.trHeader{
  text-align: center;
}