#optionsSection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  10% 60% 20%;
}

#generateBtn{
  grid-column: 1/4;
  grid-row: 1/2;
  background-color: $secondaryColor;
  font-size: 30px;
  margin: 0 4%;
  border: none;
  border-radius: 8px;
  color: $fontColor;
  cursor: pointer;
}

#generateBtn:hover{
  background-color: $secondaryHover;
}

#optionsList{
  grid-column: 1/4;
  grid-row: 2/3;
  list-style-type: none;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 4%;
}

.optionsList {
  float: left;
  cursor: pointer;
  font-size: 80px;
  font-weight: bold;
  width: 31%;
  height: 31%;
  padding: 3%;
  border-radius: 5px;
  color: $mainColor;
}

.optionsList:hover{
  background-color: $emptySquareHover;
}

.highlightCurrentOption{
  background-color: $mainColor;
  color: $fontColor;
  font-weight: bolder;
}

#buttonSection{
  grid-column: 1/4;
  grid-row: 3/4;
  margin: 0 4%;
  height: 100%;
}

.disabledBtn{
  background-color: gainsboro;
}
.disabledBtn:hover{
  background-color: gainsboro;
}

@media screen and (max-width: 500px){
  .optionsList {
    float: left;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    width: 31%;
    height: 31%;
    padding: 1%;
    border-radius: 5px;
    color: $mainColor;
    background-size: 40% 40% ;
  }

  .highlightCurrentOption{
    background-color: $mainColor;
    color: $fontColor;
    font-weight: bolder;
  }

}