#puzzleSection{
  text-align: center;
  display: grid;
  grid-template-rows: 5% 5% 60% 5% 5% 5% 15%;
  grid-template-columns: 1fr 1fr 1fr;
}

#title{
  grid-row: 1/2;
  grid-column: 1/4;
}

#timer{
  grid-row: 2/3;
  grid-column: 2/3;
}

#sudokuList{
  grid-row: 3/4;
  grid-column: 1/4;
}

#optionsList{
  grid-row: 4/5;
  grid-column: 1/4;
  margin: 0 auto;
}

#buttonMenu{
  grid-row: 5/6;
  grid-column: 1/4;
}

#validationMsg{
  grid-row: 6/7;
  grid-column: 2/3;
  font-size: 30px;
}

.sudokuList {
  display: grid;
  grid-template-columns: repeat(9, 3vw);
  grid-template-rows: repeat(9, 3vw);
  justify-content: center;
  align-content: center;
  grid-gap: 0rem;
  list-style: none;
  padding: 0;
  font-size: calc(2vw + 10px);
  cursor: pointer;
}

.sudokuLiElement {
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
}

li:nth-child(n):nth-child(-n+9) {
  border-top-width: 4px;
}

li:nth-child(n+73):nth-child(-n+81) {
  border-bottom-width: 4px;
}

li:nth-child(3n) {
  border-right-width: 4px;
}

li:nth-child(9n+1) {
  border-left-width: 4px;
}

li:nth-child(n+19):nth-child(-n+27) {
  border-bottom-width: 4px;
}

li:nth-child(n+46):nth-child(-n+54) {
  border-bottom-width: 4px;
}

#optionsList {
  list-style-type: none;
}

.optionsList {
  float: left;
  cursor: pointer;
  margin: 0 15px 0 15px;
  font-size: 27px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 25px;
}

.highlightCurrentOption{
  background-color: darkseagreen;
  font-weight: bolder;
}

.emptySquare{
  background-color: white;
}

.strobo{
    background-color: black;
}