#puzzleSection{
  text-align: center;
}

#timer{
  color: $timerColor;
  font-size: 30px;
  height: 10%;
}

#validationMsg{
  font-size: 30px;
}

.sudokuList {
  font-family: 'Forum', cursive;
  display: grid;
  grid-template-columns: repeat(9, 3vw);
  grid-template-rows: repeat(9, 3vw);
  justify-content: center;
  align-content: center;
  grid-gap: 0rem;
  list-style: none;
  padding: 0;
  font-size: calc(2vw + 7px);
  cursor: pointer;
}

.sudokuLiElement {
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid $mainColor;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $LiBgColor;
  color: $LiFontColor;
}

li:nth-child(n):nth-child(-n+9) {
  border-top-width: 3px;
  border-top-color: $mainColor;
}

li:nth-child(n+73):nth-child(-n+81) {
  border-bottom-width: 3px;
  border-bottom-color: $mainColor;
}

li:nth-child(3n) {
  border-right-width: 3px;
  border-right-color: $mainColor;
}

li:nth-child(9n+1) {
  border-left-width: 3px;
  border-left-color: $mainColor;
}

li:nth-child(n+19):nth-child(-n+27) {
  border-bottom-width: 3px;
  border-bottom-color: $mainColor;
}

li:nth-child(n+46):nth-child(-n+54) {
  border-bottom-width: 3px;
  border-bottom-color: $mainColor;
}

.emptySquare{
  background-color: $emptySquareBg;
  color: rgba(0, 0, 0, 1);
}

.emptySquare:hover{
  background-color: $emptySquareHover;
}

.strobo{
    background-color: $stroboColor;
}

.wrongPick{
  color: $wrongPick;
}

#startSudokuBtn{
  margin: 0 auto;
  display: block;
  height: 10%;
  width: 10%;
  font-size: 2.5rem;
  border: none;
  border-radius: 8px;
}