*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Abstracts - variables - grids
@import "scss/base/colors";
@import "scss/base/globalGrid";
@import "scss/base/button";


// Components
@import "scss/components/sudoku";
@import "scss/components/menu";
@import "scss/components/options";
@import "scss/components/levelTimer";